Repository UnBArqDsw2024-2/2024.2_G5_Turismo_Entrega_02, pull requests merged in 2024-11, with the labels that each got.

#6 Adicionando ata - 03
  docs/_sidebar.md
  docs/atas/ata_03.md
Labels: documentation

#11 Ata da Reunião 4
  docs/atas/ata_03.md
  docs/atas/ata_04.md
Labels: documentation

#36 Diagrama de pacotes
  docs/Modelagem/2.3.1.DiagramadePacotes.md
  docs/_sidebar.md
  docs/assets/diagrama-de-pacotes/Diagrama de Pacotes EvenTour - backend.png
  docs/assets/diagrama-de-pacotes/Diagrama de Pacotes EvenTour - frontend.png
  docs/assets/diagrama-de-pacotes/Diagrama de Pacotes EvenTour.png
Labels: Modelagem Organizacional

#21 Diagrama de classes
  docs/Modelagem/2.1.1.DiagramaDeClasses.md
  docs/Modelagem/2.1.ModelagemEstatica.md
  docs/Modelagem/assets/Diagrama-de-Classes.jpg
Labels: documentation, Modelagem Estática

#34 Diagrama de Atividades
  docs/Modelagem/2.2.1Diagrama-de-sequencia.md
  docs/Modelagem/2.2.2Diagrama-de-atividades.md
  docs/_sidebar.md
  docs/assets/diagrama-de-atividades/diagrama-de-atividades.jpg
Labels: Modelagem Dinâmica

#41 Documentar foco 1 de modelagem estática
  docs/Modelagem/2.1.ModelagemEstatica.md
Labels: documentation

#40 Adicionando a Ata 6
  docs/atas/ata_05.md
  docs/atas/ata_06.md
Labels: documentation

#43 Fix links no artefato de Diagrama de Pacotes
  docs/Modelagem/2.3.1.DiagramadePacotes.md
Labels: documentation, Modelagem Organizacional

#23 Diagrama de sequencia
  docs/Modelagem/2.2.1Diagrama-de-sequencia.md
  docs/Modelagem/assets/diagrama-de-sequencia/Avaliar_Eventos.svg
  docs/Modelagem/assets/diagrama-de-sequencia/Cadastrar-se.svg
  docs/Modelagem/assets/diagrama-de-sequencia/Criar_Evento.svg
  docs/Modelagem/assets/diagrama-de-sequencia/Editar_Evento.svg
  docs/Modelagem/assets/diagrama-de-sequencia/Favoritar_Evento.svg
  docs/Modelagem/assets/diagrama-de-sequencia/Filtrar_Eventos.svg
  docs/Modelagem/assets/diagrama-de-sequencia/Logar.svg
  docs/Modelagem/assets/diagrama-de-sequencia/alertas.svg
  docs/Modelagem/assets/diagrama-de-sequencia/comentar-eventos.svg
  docs/Modelagem/assets/diagrama-de-sequencia/conhecer-festividades-regiao.svg
  docs/_sidebar.md
  docs/assets/logo/logo-horizontal.svg
  docs/index.html
Labels: documentation, Modelagem Dinâmica

#44 Documentando foco 3
  docs/Modelagem/2.3.ModelagemOrganizacionalCasosDeUso.md
Labels: documentation, Modelagem Organizacional

#49 fix bug tabelas
  docs/Modelagem/2.4.ParticipacoesModelagem.md
Labels: documentation

#37 Mesclagem dos requisitos das técnicas de elicitação
  docs/Base/elicitacao/analise_documental.md
  docs/Base/elicitacao/questionario/questionario.md
  docs/Base/elicitacao/requisitos-entrevista.md
  docs/Modelagem/2.5.2.requisitos.md
  docs/_sidebar.md
Labels: documentation, requisitos

#38 Diagrama de casos de uso
  .vscode/settings.json
  docs/Modelagem/assets/Casos-de-uso.svg
  docs/Modelagem/assets/Diagrama-de-CasosdeUso.png
  docs/Modelagem/modelagem organizacional/2.3.2.Diagrama-de-casos-de-uso.md
  docs/_sidebar.md
Labels: documentation, Modelagem Organizacional

#47 #35 documentar iniciativas extras com comprobatorios
  docs/Modelagem/2.5.IniciativasExtras.md
Labels: documentation

#28 Diagrama de estados
  docs/Modelagem/2.2.4.DiagramaDeEstados.md
  docs/Modelagem/assets/Diagrama_estados.svg
Labels: documentation, Modelagem Dinâmica

#50 Diagrama de implantacao
  docs/Modelagem/assets/Diagrama-de-implantacao.svg
  docs/Modelagem/assets/Diagrama_de_implantacao.png
  docs/Modelagem/modelagem estatica/2.1.2.diagrama-de-implantacao.md
  docs/_sidebar.md
Labels: documentation, Modelagem Estática

#58 #54 documentação
  docs/Modelagem/2.Modelagem.md
Labels: documentation
